* {
    box-sizing: border-box;
}

html,
body {
    margin: 0px;
    padding: 0px;
    margin-left: 20px;
}

svg {
    pointer-events: visible;
}

.hidden {
    visibility: hidden;
    pointer-events: none;
}

.head {
    grid-area: head;
    z-index: 1;
}

h1 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 40pt;
    text-align: center;
}

h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 15pt;
    text-align: center;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1cm;
    line-height: 30px;
}

p {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9pt;
    letter-spacing: 0.05cm;
    line-height: 14pt;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

#Review {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9pt;
    letter-spacing: 0.05cm;
    line-height: 14pt;
    width: 275px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}

#CheckBox {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9pt;
    letter-spacing: 0.05cm;
    line-height: 14pt;
    text-align: center;
}

#I {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 7pt;
    width: 500px;
    letter-spacing: 0.05cm;
    line-height: 8pt;
}

#chart {
    position: relative;
    margin-top: 30px;
    width: 100%;
    height: 85%;
    margin-top: 30px;
}

#container2 {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


/*
.left {
    grid-area: l;
    background: none;
    z-index: 1;
}

.right {
    grid-area: r;
    position: fixed;
    margin-left: 150px;
    /*width: 90%;
    height: 90%;
}


.foot1 {
    grid-area: f1;
    background: none;
    /*z-index: 1;


}
.foot2 {
    grid-area: f2;
    width: 600px;
    background: rgba(255, 255, 255);
    /*z-index: 1;


}*/


#a {
    width: 500px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}


img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 476px;
    height: 294.1;
}

#graid {
    display: grid;
    grid-gap: 0px;
    /*grid-template-columns: 200px;*/
    grid-template-areas: "head head head head" "r r r r" "l l l l" "f1 f1 f1 f1""f2 f2 f2 f2";
    width: 100%;
    height: 100%;
}

#graid {
    display: grid;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-bottom: 100px;
    padding: 0px;
}

.foot1 {
    margin-top: -100px;
}

#chart1,
#chart2,
#chart3 {
    /*margin-left: 30px;*/
    position: relative;
    height: 200px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 40px;
}

.state {
    stroke: white;
    stroke-width: 1;
}

.tooltip {
    position: absolute;
    visibility: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9pt;
    line-height: 14pt;
    width: 500px;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
}

.tooltip1,
.tooltip2,
.tooltip3 {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 9pt;
    line-height: 14pt;
    color: rgba(255, 255, 255, 0.8);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 15px;
    pointer-events: none;
}